In [29]:
import os
import geopandas as gpd
import requests
from glob import glob

In [50]:
co_counties00 = gpd.read_file(requests.get('https://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2000/tl_2010_08_county00.zip').content)

In [51]:
fipsList = co_counties00['CNTYIDFP00'].to_list()

In [53]:
fipsList

['08013',
 '08069',
 '08071',
 '08043',
 '08041',
 '08027',
 '08051',
 '08021',
 '08097',
 '08037',
 '08089',
 '08117',
 '08093',
 '08045',
 '08025',
 '08061',
 '08017',
 '08063',
 '08011',
 '08001',
 '08039',
 '08125',
 '08121',
 '08055',
 '08023',
 '08065',
 '08029',
 '08077',
 '08099',
 '08083',
 '08067',
 '08079',
 '08073',
 '08047',
 '08059',
 '08031',
 '08103',
 '08081',
 '08115',
 '08113',
 '08123',
 '08087',
 '08003',
 '08095',
 '08091',
 '08085',
 '08053',
 '08109',
 '08105',
 '08035',
 '08005',
 '08033',
 '08101',
 '08009',
 '08049',
 '08075',
 '08019',
 '08107',
 '08119',
 '08015',
 '08057',
 '08111',
 '08007']

In [20]:
fips = '08001'
blocks00 = gpd.read_file(requests.get('https://www2.census.gov/geo/tiger/TIGER2010/TABBLOCK/2000/'+f'tl_2010_{fips}_tabblock00.zip').content)

c:\Users\phwh9568\AppData\Local\Continuum\anaconda3\envs\geo_env\Lib\site-packages\pyogrio\raw.py:194: RuntimeWarning: /vsizip//vsimem/d51fb6e699384304974eb04f6bab3aa7.zip/tl_2010_08001_tabblock00.shp contains polygon(s) with rings with invalid winding order. Autocorrecting them, but that shapefile should be corrected using ogr2ogr for example.
  result = ogr_read(

In [10]:
len(blocks00)

1549

In [11]:
blocks00.columns

Index(['STATEFP00', 'COUNTYFP00', 'TRACTCE00', 'BLOCKCE00', 'BLKIDFP00',
       'NAME00', 'MTFCC00', 'UR00', 'UACE00', 'FUNCSTAT00', 'ALAND00',
       'AWATER00', 'INTPTLAT00', 'INTPTLON00', 'geometry'],
      dtype='object')

In [12]:
blocks10 = gpd.read_file(os.path.join(r'C:\Users\phwh9568\Data\ParcelAtlas\CO_2022\Counties\08001', '08001_blocks.gpkg'), layer='08001_blocks')

In [14]:
blocks10.columns

Index(['STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLOCKCE10', 'GEOID10',
       'NAME10', 'MTFCC10', 'UR10', 'UACE10', 'UATYPE', 'FUNCSTAT10',
       'ALAND10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10', 'Pop_Total',
       'blockArea_m', 'geometry'],
      dtype='object')

In [25]:
blocks00.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -40.73, 86.45)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [26]:
countiesDir = r'C:\Users\phwh9568\Data\ParcelAtlas\CO_2022\Counties'

In [28]:
os.path.exists(os.path.join(countiesDir,'08025'))

False

Woops. Overwrote original blocks, delete blocks gpkg, do over

In [81]:
paths = glob(countiesDir+'\\*\\')

In [45]:
for path in paths:
    fips = path.split('\\')[-2]
    os.remove(os.path.join(path,f'{fips}_blocks.gpkg'))

In [46]:
co10 = gpd.read_file(requests.get('https://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2010/tl_2010_08_county10.zip').content)
co00 = gpd.read_file(requests.get('https://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2000/tl_2010_08_county00.zip').content)

In [70]:
co10.columns

Index(['STATEFP10', 'COUNTYFP10', 'COUNTYNS10', 'GEOID10', 'NAME10',
       'NAMELSAD10', 'LSAD10', 'CLASSFP10', 'MTFCC10', 'CSAFP10', 'CBSAFP10',
       'METDIVFP10', 'FUNCSTAT10', 'ALAND10', 'AWATER10', 'INTPTLAT10',
       'INTPTLON10', 'geometry'],
      dtype='object')

In [54]:
import fiona

In [84]:
gpkg = os.path.join(countiesDir,'08001','08001_blocks.gpkg')

In [85]:
layers = fiona.listlayers(gpkg)

In [86]:
layers

['08001_blocks00', '08001_blocks10']

In [68]:
year = layers[0][-2:]

In [69]:
year

'00'

In [73]:
adams10 = gpd.read_file(gpkg,layer='08001_blocks10')
adams00 = gpd.read_file(gpkg,layer='08001_blocks00')

In [74]:
adams10.columns

Index(['STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'BLOCKCE10', 'GEOID10',
       'NAME10', 'MTFCC10', 'UR10', 'UACE10', 'UATYP10', 'FUNCSTAT10',
       'ALAND10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10', 'geometry'],
      dtype='object')

In [75]:
adams00.columns

Index(['STATEFP00', 'COUNTYFP00', 'TRACTCE00', 'BLOCKCE00', 'GEOID00',
       'NAME00', 'MTFCC00', 'UR00', 'UACE00', 'FUNCSTAT00', 'ALAND00',
       'AWATER00', 'INTPTLAT00', 'INTPTLON00', 'geometry'],
      dtype='object')

In [78]:
adams10.head(2)

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,08,001,008535,1020,080010085351020,Block 1020,G5040,U,23527,U,S,1312,0,+39.9143691,-104.8699465,"POLYGON ((-750457.230 305640.186, -750448.278 ..."
1,08,001,008535,1021,080010085351021,Block 1021,G5040,U,23527,U,S,11846,0,+39.9174508,-104.8601251,"POLYGON ((-749274.479 306334.320, -749255.851 ..."

In [79]:
adams00.head(2)

,STATEFP00,COUNTYFP00,TRACTCE00,BLOCKCE00,GEOID00,NAME00,MTFCC00,UR00,UACE00,FUNCSTAT00,ALAND00,AWATER00,INTPTLAT00,INTPTLON00,geometry
0,08,001,008516,2018,080010085162018,Block 2018,G5040,U,23527,S,42130,0,+39.9355109,-105.0291492,"MULTIPOLYGON (((-763601.546 309210.937, -76362..."
1,08,001,008515,1081,080010085151081,Block 1081,G5040,U,23527,S,16112,0,+39.9258092,-105.0471401,"MULTIPOLYGON (((-765226.676 308438.253, -76517..."

In [80]:
'2000'[-2:]

'00'

blow up old county output gdfs

In [82]:
for path in paths:
    fips = path.split('\\')[-2]
    if os.path.exists(os.path.join(path,f'{fips}.gpkg')) == True:
        os.remove(os.path.join(path,f'{fips}.gpkg'))

In [83]:
import fiona