In [1]:
import parcelfunks
import os
import geopandas as gpd
import pandas as pd 
import importlib

In [19]:
importlib.reload(parcelfunks)

In [17]:
co_22_dir = r'C:\Users\phwh9568\Data\ParcelAtlas\CO_2022'
counties_dir = os.path.join(co_22_dir,'counties')
adamsPath = os.path.join(counties_dir,'08001')

In [20]:
parcelfunks.parcelMHPJoin(adamsPath)

C:\Users\phwh9568\Data\ParcelAtlas\CO_2022\counties\08001\08001_COSTAR_mhps.gpkg
08001 parcels: 118838
08001 buildings: 145666
1 118838
2 104197
3 104197
4 104143
5 102889
6 0
7 0
7 0
08001 0
08001 0

In [35]:
parcel = gpd.read_file(os.path.join(adamsPath,'parcels.shp'))
buildings = gpd.read_file(os.path.join(adamsPath,'08001_buildings.shp'))

In [23]:
len(parcel)

118838

In [36]:
parcel.drop_duplicates(subset=['geometry'], inplace=True)

In [25]:
len(parcel)

104197

In [26]:
parcel= parcelfunks.sumWithin(parcel,buildings)

In [27]:
parcel.columns

Index(['APN', 'APN2', 'STATE', 'COUNTY', 'FIPS', 'SIT_HSE_NU', 'SIT_DIR',
       'SIT_STR_NA', 'SIT_STR_SF', 'SIT_FULL_S', 'SIT_CITY', 'SIT_STATE',
       'SIT_ZIP', 'SIT_ZIP4', 'LAND_VALUE', 'IMPR_VALUE', 'TOT_VALUE',
       'ASSMT_YEAR', 'REC_DATE', 'SALES_PRIC', 'YEAR_BUILT', 'STD_LAND_U',
       'LOT_SIZE', 'BLDG_AREA', 'DEED_DSCR', 'NO_OF_STOR', 'NO_OF_UNIT',
       'BEDROOMS', 'BATHROOMS', 'OWNER', 'OWNER2', 'OWNADDRESS', 'OWNADDRES2',
       'OWNCTYSTZP', 'XCOORD', 'YCOORD', 'MINX', 'MINY', 'MAXX', 'MAXY',
       'VERSION', 'QUANTARIUM', 'ATTDATE', 'geomCalc', 'geometry', 'FID',
       'areas', 'Sum_Within', 'mnBlgArea'],
      dtype='object')

In [34]:
parcel.loc[parcel['Sum_Within']>0]

Empty GeoDataFrame
Columns: [APN, APN2, STATE, COUNTY, FIPS, SIT_HSE_NU, SIT_DIR, SIT_STR_NA, SIT_STR_SF, SIT_FULL_S, SIT_CITY, SIT_STATE, SIT_ZIP, SIT_ZIP4, LAND_VALUE, IMPR_VALUE, TOT_VALUE, ASSMT_YEAR, REC_DATE, SALES_PRIC, YEAR_BUILT, STD_LAND_U, LOT_SIZE, BLDG_AREA, DEED_DSCR, NO_OF_STOR, NO_OF_UNIT, BEDROOMS, BATHROOMS, OWNER, OWNER2, OWNADDRESS, OWNADDRES2, OWNCTYSTZP, XCOORD, YCOORD, MINX, MINY, MAXX, MAXY, VERSION, QUANTARIUM, ATTDATE, geomCalc, geometry, FID, areas, Sum_Within, mnBlgArea]
Index: []

[0 rows x 49 columns]

In [39]:
parcel['ID'] = parcel.index

In [51]:
cols = parcel.columns.to_list()

In [52]:
cols = [cols[-1]] + cols[:-1]

In [55]:
parcel = parcel[cols]

In [56]:
buildings['areas'] = buildings['geometry'].area

In [57]:
dfsjoin = gpd.sjoin(parcel,buildings,predicate='contains')

In [59]:
dfsjoin.columns

Index(['ID', 'APN', 'APN2', 'STATE', 'COUNTY', 'FIPS', 'SIT_HSE_NU', 'SIT_DIR',
       'SIT_STR_NA', 'SIT_STR_SF', 'SIT_FULL_S', 'SIT_CITY', 'SIT_STATE',
       'SIT_ZIP', 'SIT_ZIP4', 'LAND_VALUE', 'IMPR_VALUE', 'TOT_VALUE',
       'ASSMT_YEAR', 'REC_DATE', 'SALES_PRIC', 'YEAR_BUILT', 'STD_LAND_U',
       'LOT_SIZE', 'BLDG_AREA', 'DEED_DSCR', 'NO_OF_STOR', 'NO_OF_UNIT',
       'BEDROOMS', 'BATHROOMS', 'OWNER', 'OWNER2', 'OWNADDRESS', 'OWNADDRES2',
       'OWNCTYSTZP', 'XCOORD', 'YCOORD', 'MINX', 'MINY', 'MAXX', 'MAXY',
       'VERSION', 'QUANTARIUM', 'ATTDATE', 'geomCalc', 'geometry',
       'index_right', 'FID', 'County', 'areas'],
      dtype='object')

In [60]:
dfpivot = pd.pivot_table(dfsjoin, index=['ID', 'APN'], aggfunc={'FID':len,'areas':'mean'}).reset_index()

In [1]:
dfpivot.index

NameError: name 'dfpivot' is not defined

In [11]:
gpd.read_file(r'C:\Users\phwh9568\Data\ParcelAtlas\CO_2022\counties\08117\parcels.shp')

,APN,APN2,STATE,COUNTY,FIPS,SIT_HSE_NU,SIT_DIR,SIT_STR_NA,SIT_STR_SF,SIT_FULL_S,...,YCOORD,MINX,MINY,MAXX,MAXY,MKT_VALUE,ATTDATE,VERSION,QUANTARIUM,geometry
0,1512229002,None,CO,Summit,08117,None,None,None,None,None,...,42.3661,-94.049764,42.365915,-94.049637,42.366243,0,20,10-6-2022,None,"POLYGON ((-94.04967 42.36592, -94.04976 42.366..."
1,1213400008,None,CO,Summit,08117,None,None,None,None,None,...,42.4305,-93.936808,42.430054,-93.932073,42.430974,0,20,10-6-2022,None,"POLYGON ((-93.93207 42.43096, -93.93208 42.430..."
2,1701353010,None,CO,Summit,08117,None,None,None,None,None,...,42.2837,-94.298161,42.283629,-94.297673,42.283724,0,20,10-6-2022,None,"POLYGON ((-94.29767 42.28363, -94.29816 42.283..."
3,1320200005,None,CO,Summit,08117,None,None,None,None,None,...,42.3345,-94.369023,42.332731,-94.368922,42.336365,0,20,10-6-2022,None,"POLYGON ((-94.36893 42.33637, -94.36892 42.332..."
4,0720356004,None,CO,Summit,08117,None,None,None,None,None,...,42.5030,-94.185925,42.502750,-94.185610,42.503159,0,20,10-6-2022,None,"POLYGON ((-94.18561 42.50278, -94.18583 42.502..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33404,1519200005,None,CO,Summit,08117,None,None,None,None,None,...,42.3338,-94.150137,42.331965,-94.145399,42.335624,0,20,10-6-2022,None,"POLYGON ((-94.14541 42.33554, -94.14540 42.331..."
33405,2022100006,None,CO,Summit,08117,None,None,None,None,None,...,42.2489,-93.985275,42.247662,-93.985144,42.249467,0,20,10-6-2022,None,"POLYGON ((-93.98525 42.24766, -93.98527 42.249..."
33406,1203107004,None,CO,Summit,08117,None,None,None,None,None,...,42.4674,-93.990490,42.467320,-93.990014,42.467548,0,20,10-6-2022,None,"POLYGON ((-93.99001 42.46755, -93.99002 42.467..."
33407,1307400005,None,CO,Summit,08117,None,None,None,None,None,...,42.3580,-94.388301,42.357939,-94.383419,42.358098,0,20,10-6-2022,None,"POLYGON ((-94.38342 42.35805, -94.38830 42.357..."
33408,1712202002,None,CO,Summit,08117,None,None,None,None,None,...,42.2821,-94.289203,42.282135,-94.289166,42.282162,0,20,10-6-2022,None,"POLYGON ((-94.28917 42.28216, -94.28917 42.282..."

In [2]:
from osgeo import gdal

In [8]:
gdal.SetConfigOption('SHAPE_RESTORE_SHX','NO')